@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


#root {
  background-color: #ffffff; /* light mode default */
  min-height: 100vh;
}

#root:dark {
  background-color: #030712; /* dark mode */
}